#anuncios {
    margin: 0 auto;
}


#anuncios p {
    color: #2a3646;
}


.anuncios-item {
    width: 250px;
    height: auto;
    justify-content: center;
    display: block;
    margin: 15px auto;
    border: 1px solid #eaeaea;
    box-shadow: 3px 3px 4px -1px rgba(0, 0, 0, 0.1);
}

.anuncios-item img {
    width: 200px;
    align-self: center;
    display: block;
    margin: 25px auto;
    padding: 5px;
}

.anuncios-item p {
    width: 200px;
    color: #2a3646;
    font-size: 12px;
    text-align: justify;
}

.anuncios-item h3 {
    margin-top: 2px;
    margin-bottom: 25px;
}