#header-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    height: 700px;
    margin: 0 auto 120px;
    background-image: url("");
    background-size: cover;
    background-position: center;
}


#header-img h2,
p {
    color: #2a3646;
}